numpy>=1.11.0
pandas
scipy
matplotlib>=1.5.1
pyyaml
jupyter
jupyterlab
scikit-build
setuptools>=20.7.0
pymbar
mdtraj
pytest
# for the documentation
#sphinx
#nbsphinx
#sphinx-rtd-theme
#sphinx-argparse

